

.main{
    width: 1137px;
    /* border: 1px solid red; */
    height: auto;
    margin: auto;
    overflow: hidden;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rebeccapurple; */
}
.footerheading{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #1c1c1c;
    letter-spacing: 1px;
    margin-top: 35px;
    text-align: left;
    margin-left: 15px;
}
.listing{
    list-style-type: none;
    text-align: left;
    padding: 15px;
 
}
.listing>li{
    font-weight: 500;
    font-size: 14px;
    color: #7f7f7f;
   
}
.listing>li:hover {
    text-decoration: underline;
    cursor: pointer;
    
}
.icon{
    height: auto;
    width: 18px;
}
.specialicon{
    display: flex;
    gap: 10px;   
}
.newsletter{
    width: 200px;
    /* border:  1px solid red; */
    height: fit-content;
    margin: 20px;
    padding: 9px;
   
    
    
}

.NEWSLETTER{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #1c1c1c;
    letter-spacing: 1px;
    margin-top: 15px;
    text-align: left;
    margin-left: 15px;
    
}
.emailbox{
border: none;
outline: none;
margin: 5px;
padding-left: 9px;
}
.radios{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.radios>div>span{
    font-weight: 500;
    font-size: 14px;
}
.radioicon{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 15px;
    gap: 9px;

}
.submitbtn{
    border: 1px solid #7f7f7f;
 padding: 3px 6px;
    width: 100%;
    transition: 1s;
}
.submitbtn:hover{
    background-color: #7f7f7f;
    color: white;
}

.lastoffooter{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
}
.socialmedia{
    margin-right: 10px;
    margin-left: 5px;
    cursor: pointer;

    
}
.socialmedia1{
    margin-right: 10px;
    margin-left: 5px;
    cursor: pointer;
width: 43px;
    
}



@media only screen   and (max-width: 1480px) and (min-width: 1360px)  {
    .main{
        display:flex;
        justify-content:space-between;
        /* border:1px solid red; */
        flex-direction: column;
        width: 100%;
    }
    .dropdown{
        width: 80%;
    }
  }

   @media only screen and (min-width: 1500px) {
    .main{
        display:flex;
        justify-content:space-between;
        /* border:1px solid red; */
        width: 1400px;
        margin: auto;
    }
    .dropdown{
        width: 100%;
        width: 1500px;
    }

    /* media works pending here */
  } 
