.prmaincontainer
{
   
    display:flex;
    gap:5px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.prsidebar
{
    width:20%;
    height:auto;
  
    margin-left: 1%;
}

.prprodcontainer
{
    display:grid;
    grid-template-columns: repeat(3,31%);
    width:80%;
    justify-content: space-between;
   
   
   
}
.prindiv
{   width: 300.5;
    height:497px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.prindiprop
{   height:70%;
    margin-top: 6%;
   width:auto;
    line-height: 30px;
}
.primgquidiv{
    
    margin:auto;
    height:315px;
    width:300px;
    cursor: pointer;
 
}

.prdropdown_firstthree
{
    
    background-color:white;
    width:18%;
    z-index:6;
    position:absolute;
    margin-right: 1%;
    border:1px solid black;
    font-size:15px;
    color:#979cb5;
    padding-left: 2%;
}
.prdropdown_firstthree>div:hover{
    color:black;
    cursor: pointer;
}
.prdesignerdropdown
{
  
    background-color:white;
    width:100%;
    z-index:6;
    overflow-y: scroll;
    height:300px;
}
   
    
    
.prquickdiv{
    background-color:white;
   border:1px solid black;
    width:100%;
    height:15%;
    margin-top:-60px;
    position:relative;
    z-index:200;
    display:none;
    padding-top:2%;

}
.primg{
    height:315px;
    width:200px;
    margin:auto
}


.primgquidiv:hover .prquickdiv{
    display:block
}

.prcatcondgen
{
   
    display:flex;
    justify-content:flex-start;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
    font-size:15px;
    color:grey;
}
.prsavemysearch{
    height:40px;
    background-color: white;
    color:black;
    border:1px solid black;
    padding-top: 2%;
    margin:auto;
    margin-bottom: 40px;
    cursor: pointer;
}
.prsavemysearch:hover{
   background-color: black;
    color:white;
}
.prshareandsave
{
  
    line-height:40px;
    margin-bottom: 10px;
}
.prshareandsave div{
    display:flex;
    justify-content: flex-start;
}
.prshareandsave div:hover{
   text-decoration: underline;
   cursor: pointer;
}
.prheavyfilters{
    transition:10s;
}
.prheavyfilters>div
{
  
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: start;
  color:black;
 font-weight: 500;
 cursor: pointer;
}
.prdesignerdiv{
    width:60%;
    text-align:start;
    margin-left:22%;
    height:100px;
    line-height:50px
}
.prselectstore
{   display:flex;
    justify-content: center;
    height:40px;
    background-color: black;
    color:white;
   align-items: center;
}
.prpaginateparent{
    display:flex;
    margin-bottom:10px;
   
}
.prpaginate
{
    margin-Left:50%;
    display:flex
}

.prpageindic{
    width:30px;
    cursor: pointer;
}
.prpageindic:hover{
   border-bottom: 1px solid orange;
   
}
.prpageindic:focus{
    border-bottom: 1px solid orange;
    
 }
 .prselectdiv{
   margin-left:22%
 }
.prselect{
    text-align:end;
    border:transparent;
    user-select: none;
    cursor: pointer;
    outline:none
}
.prselect:focus{
    border:1px solid #b5f3f0
}
 option:hover{
    background-color: red;
}
.prselect>option:hover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color:black;
}

@media all and (min-width:900px) and (max-width:1399px)
{
    .primgquidiv{
    
        margin:auto;
        height:300px;
        width:250px;
        cursor: pointer;
     
    }
    .primg{
        height:300px;
        width:180px;
        margin:auto
    }
    .prmaincontainer
{
    /* border: 1px solid red; */
    display:flex;
    gap:5px;
    width: 90%;
    margin:auto;
    overflow: hidden;
}
.prprodcontainer
{
    display:grid;
    grid-template-columns: repeat(3,34%);
    width:80%;
    justify-content: space-between;
    /* border: 1px solid teal; */
   
   
}
.prdesignerdiv{
    width:65%;
    text-align:start;
    margin-left:25%;
    height:100px;
    line-height:50px;
    
}
.prpaginateparent{
    display:flex;
    margin-bottom:10px;
    
    width:60%;
    margin:auto;
}
.prselectdiv{
    margin-left:20%
  }

  .prindiprop
{   height:70%;
    margin-top: 8%;
   width:auto;
    line-height: 30px;
}

}

@media all and (min-width:1400px) and (max-width:1700px)
{
    .prmaincontainer
{
    
    display:flex;
    gap:5px;
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.prdesignerdiv{
    width:60%;
    text-align:start;
    margin-left:22%;
    height:100px;
    line-height:50px;
   
}
.prquickdiv{
    background-color:white;
   border:1px solid black;
    width:100%;
    height:15%;
    margin-top:-60px;
    position:relative;
    z-index:200;
    display:none;
    padding-top:2%;

}
.primg{
    height:315px;
    width:180px;
    margin:auto
}
}
