/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;400&family=Inter&family=Open+Sans:ital@1&family=Roboto:wght@100&family=Sacramento&display=swap'); */

.navbar{
    display:flex;
    justify-content:space-between;
    /* border:1px solid red; */
    width: 100%;
    position: fixed;
    background-color:  white;
    z-index: 100;
    top: 0;  
    left: 0%;
    right: 0%;
    padding: 3px;
   
}

@media only screen   and (max-width: 1480px) and (min-width: 1360px)  {
    .navbar{
        display:flex;
        justify-content:space-between;
        /* border:1px solid red; */
        width: 100%;
    }
    .dropdown{
        width: 80%;
    }
  }

   @media only screen and (min-width: 1500px) {
    .navbar{
        display:flex;
        justify-content:space-between;
        /* border:1px solid red; */
        width: 1400px;
        margin: auto;
    }
    .dropdown{
        width: 100%;
        width: 1500px;
    }

    /* media works pending here */
  } 


#leftdiv{
    /* border: 1px solid black; */
    width: 65%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 4px;
    flex-direction: flex-start;
}
#rightdiv{
    /* border: 1px solid black; */
    width: 20%;
    margin-top: 10px;
    /* flex-direction: flex-end; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.country{
    height: 20px;
    width: 20px;
}




.subcateg{
    margin: 5px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    height: fit-content;
    margin-right: 10px;
    letter-spacing: 0.1px;
}
.rightmenuicon{
    width: 16px;
   
}
.rightsubcateg{
    margin: 5px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    height: fit-content;
    margin-right: -5px;
    letter-spacing: 0.1px;
    /* border: 1px solid red; */
   
}

/* deopdown starts here  */

.dropdown{

    /* border: 1px solid red; */
    position: fixed;
    width: 1024px;
    margin: auto;
    height: 50px;
    z-index: 10;
    background-color: white;
    top: 60px;
    left: 0;
    right: 0;    
}

.subtparent{
    /* border : 1px solid red; */
    display: flex;
    padding: 10px;
}
.subtparent> li{
    margin-left: 10px;
    margin: 5px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    height: fit-content;
    margin-right: 10px;
    letter-spacing: 0.1px;
}


.subtparent> li:hover{
    text-decoration: underline;
}







/* special offers home page */

.imgspoffers{
    width: 95% !important;
    margin: auto;
}
.button:hover{
    background-color:  #1c1c1c;
    color: white !important;
    transition: 0.5s;
}